@import url("https://fonts.googleapis.com/css2?family=Muli:wght@500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700;800;900&display=swap");

:root {
  --base: 1rem;
  --text: #ce5493;
  --dark: #b93ba7;
  --contrast: #a78c92;
  --bg: #eae9eb;
  --white: white;
  --highlight: #e15f72;
}

.social {
  display: flex;
  gap: 2rem;
  padding: 0;
}

body {
  background-color: var(--bg);
  color: rgb(12, 1, 70);
  font-family: "Muli", sans-serif;
  margin: 0;
}
strong {
  font-weight: 800;
}

#counter {
  background-image: linear-gradient(
    330deg,
    hsl(308.6, 51.6%, 47.8%) 32%,
    hsl(329, 55.5%, 56.9%) 78%
  );

  color: var(--bg);
  padding: 1rem 2rem 1rem;
  margin: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#box {
  border: palevioletred 2vw solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 2rem;
  margin: auto;
  max-width: 500px;
  border-radius: 37px;
  text-align: center;
}

.wave {
  background-image: url(svg/wave.svg);
  background-repeat: no-repeat;
  background-position: inherit;
  background-position-x: -20rem;
  background-position-y: -3rem;
  background-size: 150%;
}

ul > * {
  padding-bottom: 1rem;
}

#root {
  display: grid;
}

#root > header,
main {
  display: grid;
  width: 100%;
  max-width: 900px;
  margin: auto;
}

header {
  margin: 1.5rem;
}
header > * {
  max-width: 100%;
  margin: 0 1rem;
}

main {
  grid-template-columns: 1fr;
  grid-template-areas: "left" "right";
}
main > * {
  margin: 0 1rem;
}

#right {
  grid-area: left;
}
#skills {
  grid-area: right;
}

#left {
  /* padding: 2rem; */
}

#left ul {
  padding-left: 1rem;
}

.cl-preview-section {
  padding: 1rem 0;
}
.bold {
  font-weight: bold;
}

h1 {
  font-size: calc(2 * var(--base));
  font-weight: 900;
  margin: 0;
}
h2 {
  font-size: calc(1.2 * var(--base));
  font-weight: 700;
  border-bottom: 2px solid var(--contrast);
  padding-bottom: var(--base);
}
h3 {
  font-size: calc(1.2 * var(--base));
  font-weight: 700;
  display: inline;
}

h1,
h2 {
  text-transform: uppercase;
  font-family: "Inter";
}
a {
  transition: color 0.3s ease-in-out;
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--dark);
}

@media only screen and (min-width: 768px) {
  header > * {
    max-width: 40%;
    margin: 1rem;
  }
  main {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "right left";
  }
}
